<!-- ==================================================
   Footer Section Start 
     {{>organization-info/organization-social-info orgInfo=data.commonData.organizationInfoData}}
   ================================================== -->


<style>


#footer .col-md-2 {
  width: 12.66666667%;
      padding: 0;
}

#footer ul {
    padding-left: 0;

}

#footer .container-fluid {
        /*padding-right: 50px;*/
    padding-left: 65px;
}

#footer .col-md-2 .ul {
 margin-top: 8px;    margin-left: 20px;
}

#footer .col-md-2 ul li {
    margin-top: -4px;
}

#footer .col-md-2 ul li a {
 font-size: 12px;
}

#footer .col-md-4 {

/*margin-left: 175px;*/
width: 56%;
}

#footer .container{
margin-left: 30px;

}
.footerBtn {
 font-size: 15px;
    letter-spacing: 1px;
    padding: 3px;   width: 110px; background-color: #555;
    color: #fff;
    border-radius: 0;
}


.searchList{
margin-top: 10px;     width: 450px;
    margin-bottom: 10px;

}


.socialList {
margin-top: 25px;     margin-left: 70px;
}

.socialList p {
 font-size: 10px;
    padding-left: 180px;
    padding-bottom: 5px; 
}

#footer  .col-md-6 {
width:108%; margin-left: 20px;
}


#footer .copyright span{
    padding-right: 75px; float: right;
}

.input-group {

   /*padding-left: 250px;*/
}

.follow {
    margin-top: 12px;
}

.follow p {
    padding-left: 200px;
    font-size: 12px;
}



.Facebook { padding-right: 10px; }

.Twitter { padding-right: 3px; }

.Linkedin { padding-right: 6px; }

.Google { padding-right: 3px; }


#footer .logo{
    display: inline;
    padding-left: 0;
}

 .img{
    width: 100px;
}

.colMd3-1 {
  width: 20%;
}

.colMd3-2 {
  width: 35.666667%;
}
/*----------------------------------@media screen Start----------------------------------------------------------------*/

@media screen and (max-width: 40.5em) {


#footer .container-fluid {
padding-left: 0px; 

}


#footer .col-md-2 {
width: 30%;
padding: 0;
margin: 0;
    float: right;
}

#footer .col-md-2 ul {
 margin-top: 0px;    margin-left: 0px;
}

#footer .col-md-2 ul li {
    margin-top: -6px;
}

#footer .col-md-2 ul li a {
 font-size: 10px;
}

#footer .col-md-4 {

margin-left: 0px;
width: 100%;
margin-top: 80px;

}

.searchList{

    margin-top: 100px;
    width: 300px;
    margin-bottom: 10px;

}


.footerBtn {
    font-size: 11px;
    letter-spacing: 1px;
    padding: 3px;
    width: 60px;
    background-color: #555;
    color: #fff;
    border-radius: 0;
}
.input-sm {
    height: 24px;
    padding: 5px 10px;
    font-size: 10px;
    line-height: 1.5;
}



.socialList {
margin-top: 15px;     
margin-left: 20px;
}

.socialList p {
 font-size: 10px;
       padding: 0px;
        margin-top: -3px;

}

#footer .social {
    margin-top: -30px;
    padding-left: 70px;

}


.col-md-6 {
width:108%; margin-left: 0px;
}


#footer .copyright {
    text-align: left;
      font-size: 10px;

    padding-left: 35px;
    margin-top: 0;
}
#footer .copyright span {
        padding-right: 0px;
    float: right;
}

.input-group {

   padding-left: 20px;
}



.follow {
    margin-top: 12px;
}

.follow p {
    padding-left: 0px;
    font-size: 10px;
    padding-left: 50px;
}



.Facebook { padding-right: 0px; }

.Twitter { padding-right: 0px; }

.Linkedin { padding-right: 0px; }

.Google { padding-right: 0px; }

#footer .logo{
  padding-left: 40px;
}

.img{
    width: 100px;
}

.colMd3-1 {
  width: 100%;
  margin-top: 55px;
}

.colMd3-2 {
  width: 100%;
}
}

</style>


<footer id="footer" >
   <div class="container-fluid">
      <div class="row">
      <div class="col-md-2" >
         <!-- Social Media -->
         <ul>
            <li><a href="/about-us">About Us </a></li>
         <li><a href="/products">Products</a></li>
             <li> <a href="/store">Stores</a></li>
        
            <li> <a href="/news">News/Media</a></li>
         </ul>
      </div>

      <div class="col-md-2" style="display: inline">
         <ul>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/testimonial">Testimonials</a></li>
            <li><a href="/kadenceperience">Kadence Xperience</a></li>
           {{!--  <li><a href="/kadencyngage">Customer Support </a></li> --}}
         </ul>
         </ul>
      </div>
      <div class="col-md-2 " >
         <ul>
              <li><a href="/faq">FAQ</a></li>
             <li><a href="/contact">Partner with Kadence</a></li>
           
            <li> <a href="/privarypolicy">Privacy Policy</a></li>
            
         </ul>
          

      </div>
      <div class="col-md-3 colMd3-1">
         <img class="img" src="http://res.cloudinary.com/www-kadence-in/image/upload/c_scale,w_150/v1512559098/palm_expo_logo_x20m3a.png"/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     <img  class="img" src="http://res.cloudinary.com/www-kadence-in/image/upload/c_scale,w_150/v1512559098/NAAM_zzwnwt.png">
              </div>
        {{!-- <div class="col-md-4 ">
        <ul>
         
          <li class="searchList">    <div class="input-group">
           <span class="input-group-btn">
        <button class="footerBtn btn btn-sm" type="button">SIGN UP</button>
      </span>
      <input class="form-control input-sm" style="
    border-radius: 0;" type="text" class="form-control" placeholder="ENTER YOUR EMAIL ID">
     
    </div> </li>


 <li class="socialList"><p>FOLLOW US ON</p><span style="    width: 382px;">{{>organization-info/organization-social-info orgInfo=data.commonData.organizationInfoData}} </span> </li>
        </ul>

      </div> --}}


<div class="col-md-3 colMd3-2">
   <div class="input-group">
           <span class="input-group-btn">
        <button class="footerBtn btn btn-sm" type="button">SIGN UP</button>
      </span>
      <input class="form-control input-sm" style="
    border-radius: 0;" type="text" class="form-control" placeholder="ENTER YOUR EMAIL ID">
     
    </div> 

<div class="follow">
<p>FOLLOW US ON</p><span style="width: 382px;">{{>organization-info/organization-social-info orgInfo=data.commonData.organizationInfoData}} </span>

        </div>

      </div>
{{!-- div classcol-md-4 end --}}


      </div>
      {{!-- row end --}}
  
  <p class="copyright" style="font-size: 10px; margin-left:-15px;">&copy
            {{data.commonData.organizationInfoData.orgName }} {{data.commonData.currentYear}} </p>


     
       
  {{!-- <div class="row"> 
  <div class="col-md-6" >
<ul style="padding-left: 30%;">
<img src="http://res.cloudinary.com/www-kadence-in/image/upload/c_scale,w_150/v1512559098/NAAM_zzwnwt.png"/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<img src="http://res.cloudinary.com/www-kadence-in/image/upload/c_scale,w_150/v1512559098/palm_expo_logo_x20m3a.png"/>

</ul> 
</div>
</div>  --}}

   </div>
</footer>