

<style type="text/css">




</style>






<div class="block" >
    <h2 class="subtitle wow fadeInDown" data-wow-duration="2000ms" data-wow-delay=".3s">Contact With
        Us</h2>

    <div class="contact-form">
        <form id="contact-form" action="#" role="form">

            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                <input type="text" required placeholder="Your Name" class="form-control input-sm" name="fullName"
                       id="name" style=" border-radius: 6px;">
            </div>

            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                <input type="email" required placeholder="Your Email" class="form-control input-sm" name="email"
                       id="email" style=" border-radius: 6px;">
            </div>

            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                <input type="text" required placeholder="Contact Number" class="form-control input-sm"
                       name="contactNumber"
                       id="contactNumber" style=" border-radius: 6px;">
            </div>

            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                <input type="text" required placeholder="Organization Name" class="form-control input-sm"
                       name="organizationName" id="organizationName" style=" border-radius: 6px;">
            </div>

            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                                <textarea rows="6" required placeholder="Message" class="form-control" name="message"
                                          id="message" style=" border-radius: 6px;"></textarea>
            </div>
            <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                <input type="submit" id="contact-submit" class="btn btn-default btn-send"
                       value="Send Message">
            </div>
            <div id="resMessage"></div>
        </form>

    </div>
</div>