

<div class="row" >
<div class="col-md-12" >
<div class="post-img">
        <img class="img-responsive" alt="blog" style="padding: 10px 0px 0px 450px;" 
             src="{{cloudinaryUrl blogDetailObj.bannerImage option='{"width":"160"}'}}">
    </div>
    <div class="post-content">

        <p>
            {{{blogDetailObj.blogDescription}}}
        </p>
    </div>
    <div class="clarifix"></div>
    <div id="disqus_thread"></div>

</div>
</div>



{{!-- <div class="row" >
<div class="col-md-6" >
    <div class="post-img">
        <img class="img-responsive" alt=""
             src="{{cloudinaryUrl blogDetailObj.bannerImage option='{"width":"960"}'}}">
    </div>
    <div class="post-content">

        <p>
            {{{blogDetailObj.blogDescription}}}
        </p>
    </div>
    <div class="clarifix"></div>
    <div id="disqus_thread"></div>
</div>

<div class="col-md-6">
    <div class="sidebar">
        {{>blogs/blog-article-category categoryObj=categoryObj hostUrl=hostUrl count=categoryRelatedBlogCount}}
        {{>blogs/blog-article-tags tags=blogDetailObj.tags hostUrl=hostUrl}}
    </div>
</div>
</div> --}}


