{{#pagetitle 'page'}}
    <title>Kadency Ngage | {{data.commonData.organizationInfoData.orgName}}</title>
{{/pagetitle}}

{{>shared/global-header headerTitle=activePageMenu}}

<section id="testimonial" style="background-color:gray">
<div class="bgimg-3">
  <div class="caption2" style="font-family: CenturyGothicBold;">
    <span class="border1" style="    font-size: 45px;"> Coming Soon</span>
  </div>

</div>
</section>

