{{!-- <!-- main menu -->
<nav  class="site-nav js-site-nav -in-v" style="height:100%">
    <div class="main-menu">
        <ul class="site-nav__list js-site-nav-list">
            {{#each navs}}
                <li class="site-nav__item">
                    <a  class="site-nav__link"href="{{navUrl}}">{{nav}}</a>
                    
                </li>
            {{/each}}
        </ul>
    </div>
</nav> --}}
<!-- /main nav -->
