<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Products Management
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/admin']">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-newspaper"></i> Products Management
            </li>
        </ol>
    </div>
</div>
<p-tabView (onChange)="tabSwitch($event)">
    <p-tabPanel header="Products Category">
        <products-category-list *ngIf="isCatList" [showList]="isCatList"></products-category-list>
    </p-tabPanel>
    
    <p-tabPanel header="Products SubCategory">
        <products-subcategory-list *ngIf="isSubCatList" [showList]="isSubCatList"></products-subcategory-list>
    </p-tabPanel>
   
    
    <p-tabPanel header="Products">
        <products-list *ngIf="isProductsList" [showList]="isProductsList"
                   (showImageListEvent)="showImageList($event)"></products-list>
        <products-image-list *ngIf="isImageList" [productsId]="id" (showProductsListEvent)="showProductsList($event)"></products-image-list>

    </p-tabPanel>

     
</p-tabView>
