
    
<style type="text/css">

.contentPost { display:none;}

	#companyIntroData {
	   background-image: url(http://res.cloudinary.com/www-kadence-in/image/upload/v1512027850/About_Us_1_mqkjax.jpg); 
	   /*height: 680px; */
	   height: 720px; 
	   background-position: center;
	   background-repeat: no-repeat;
	   background-size: cover; position: relative;
	   background-color: #000;
	}

	#companyIntroData .col-md-4 {
		margin-top: 310px; 
		padding: 0 0 0 150px; color: #fff;
	}

	#companyIntroData .col-md-4 h2 {
		font-size: 37px; 
		font-weight: bold;
	}

	#companyIntroData .col-md-6 {
		margin-top: 190px; 
		color: #fff; width: 55%;
	}
    	#companyIntroData .col-md-6 p strong {
    font-size: 17px;
}
    .quotes  {
		        font-size: 15px;
    margin-top: -10px;
    margin-left: 420px;
	}

	

	@media only screen and (max-width: 40.5em) {

#companyIntroData {
	   background-image: url(http://res.cloudinary.com/www-kadence-in/image/upload/v1514285609/about_us_w88u6b.jpg); 
	   height: 662px; 
	   background-position: center;
	   background-repeat: no-repeat;
	   background-size: cover; position: relative;
	   margin-top: -20px;

	}

	#companyIntroData .col-md-4 {
		margin-top: 0px; 
		padding: 0 0 0 0px; 
		color: #fff;
	}

	#companyIntroData .col-md-4 h2 {
		font-size: 20px;
	    font-weight: bold;
	    padding-top: 150px;
	}

	#companyIntroData .col-md-6 {
		margin-top: 30px; 
		color: #fff;
		 width: 100%;
	}

	#companyIntroData .col-md-6 p strong {
    font-size: 15px;
}


.quotes {
    font-size: 14px;
     margin-top: -10px;
    margin-left: 200px;

}


#companyIntroData .col-md-6 div {
		     font-size: 10px;
	}


	}




@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

#companyIntroData {
	   background-image: url(http://res.cloudinary.com/ebisu-technology-pvt-ltd/image/upload/v1504878440/about-us-page_ittkd2.jpg); 
	   height: 662px; 
	   background-position: center;
	   background-repeat: no-repeat;
	   background-size: cover; position: relative;
	   margin-top: -20px;

	}

	#companyIntroData .col-md-4 {
		margin-top: 0px; 
		padding: 0 0 0 0px; 
		color: #fff;
	}

	#companyIntroData .col-md-4 h2 {
		font-size: 20px;
	    font-weight: bold;
	    padding-top: 150px;
	}

	#companyIntroData .col-md-6 {
		margin-top: 30px; 
		color: #fff;
		 width: 100%;
	}

	#companyIntroData .col-md-6 p strong {
    font-size: 15px;
}


.quotes {
    font-size: 14px;
    margin-top: -15px;
    margin-left: 230px;

}


#companyIntroData .col-md-6 div {
		     font-size: 10px;
	}


	}

























</style>

<script >$(document).ready(function() {
    $(".contentPost").delay(500).fadeIn(500);
});</script>


    <div id="companyIntroData" class="rows ">
        <div class="col-md-4">
        <h2 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay=".8s">ABOUT US</h2>
        </div>   
        <div data-wow-duration="2000ms" class="col-md-6 wow fadeInDown contentPost">{{{companyIntroData.htmlModuleContent}}}
        </div>    
    </div>
